<% content_for :right do %>
    <h2>New User</h2>
    <form action="/posts" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <div class="form-group">
            <label for="first_name">First Name:</label>
            <input type="text" name="first_name" class="form-control">
        </div>
        <div class="form_group">
            <label for="last_name">Last Name:</label>
            <input type="text" name="last_name" class="form-control">
        </div>
        <div class="form-group">
            <label for="favorite_language">Favorite Language:</label>
            <input type="text" name="favorite_language" class="form-control">
        </div>
        <button type="submit">Submit</button>
    </form>
<% end %>


